/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

/* Search Bar */
.input-group {
  position: relative;
}

.input-group input.form-control {
  padding-right: 50px;  /* To avoid overlap with search icon */
  border-radius: 25px;
  border: 2px solid #007bff;
  transition: border 0.3s;
}

.input-group input.form-control:focus {
  border: 2px solid #0056b3;  /* Darker shade when focused */
  outline: none;
  box-shadow: none;
}

.input-group .btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input-group .btn i.fas {
  color: #007bff;
  font-size: 1.2rem;
}

.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

/* Main Game Details */
.game-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.price-badge h2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc107;  /* Golden for price badge */
  border-radius: 5px;
}

.quantity-container label {
  font-size: 1rem;
  font-weight: bold;
}

.quantity-container input {
  width: 60px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.total-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.buttons-group .btn {
  margin-top: 15px;
  padding: 12px;
}

.offers {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

/* Image Gallery */
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.game-images img {
  cursor: pointer;
  transition: transform 0.3s;
}

.game-images img:hover {
  transform: scale(1.1);
}

/* DLC Section */
.dlc-section h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

/* Information Tabs */
.nav-pills .nav-link {
  border-radius: 5px;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
  background-color: #007bff;  /* Blue for the active/hover state */
}

.tab-content p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Reviews */
.reviews h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Responsive Settings */
@media screen and (max-width: 767px) {
  .game-title {
      font-size: 2rem;
  }
}
