<div class="container-fluid game-detail-container mt-5" *ngIf="selectedGame">

    <!-- Game Title -->
    <header class="row mb-4">
        <h1 class="col-12 text-center display-4">{{ selectedGame.title }}</h1>
    </header>

    <!-- Age and Average Rating -->
    <div class="row justify-content-around mb-4">
        <div class="col-md-5 text-center age-rating-container">
            <p class="lead"><strong>Age Rating:</strong><span>{{ selectedGame.ageRating.rating }}</span></p>
        </div>
        <div class="col-md-5 text-center average-rating-container">
            <p class="lead"><strong>Average Rating:</strong><span>{{ selectedGame.averageRating }}</span></p>
        </div>
    </div>


    <!-- Official Trailer -->
    <div class="row mb-5 trailer-section"> <!-- Add the trailer-section class here -->
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header bg-dark text-white">
                    <h2>Official Trailer</h2>
                </div>
                <div class="card-body p-0 position-relative">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" [src]="selectedGame.trailerUrl ? getSafeUrl(selectedGame.trailerUrl) : ''" allowfullscreen></iframe>
                        <!-- <div class="play-button" (click)="playVideo()"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Game Images Carousel -->
    <section class="game-media row mb-5">
        <div id="gameImagesCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#gameImagesCarousel" [attr.data-slide-to]="0" class="active"></li>
                <li *ngFor="let image of selectedGame.gameImages; let i = index" data-target="#gameImagesCarousel" [attr.data-slide-to]="i + 1"></li>
            </ol>
            <div class="carousel-inner">
                <!-- Main Cover Image -->
                <div class="carousel-item active">
                    <img [src]="selectedGame.coverImage" alt="{{ selectedGame.title }} cover image" class="img-fluid rounded">
                </div>
                <!-- Additional Game Images -->
                <div *ngFor="let image of selectedGame.gameImages; let i = index" class="carousel-item">
                    <img [src]="image.url" alt="Game Image" class="img-fluid rounded">
                </div>
            </div>
            <a class="carousel-control-prev" href="#gameImagesCarousel" role="button" data-slide="prev" (click)="prevImage()">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#gameImagesCarousel" role="button" data-slide="next" (click)="nextImage()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

        <!-- Game Info Section -->
    <section class="game-info-section">

        <!-- Tags, Genre, Languages, Platform -->
        <div class="row justify-content-start mb-3">
            <div class="col-12">
                <p>
                    <strong>Tags:</strong>
                    <span *ngFor="let tag of selectedGame.gameGameTags; let last = last">
                        {{ tag.gameTag.tagName }}
                        <span *ngIf="!last">, </span>
                    </span>
                </p>
        
                <p>
                    <strong>Genre:</strong>
                    <ng-container *ngFor="let genreObj of selectedGame.gameGenres; let last = last">
                        {{ genreObj.genre.name }}
                        <span *ngIf="!last">, </span>
                    </ng-container>
                </p>
        
                <p>
                    <strong>Languages:</strong>
                    <ng-container *ngFor="let language of gameLanguages; let last = last">
                        {{ language.language.languageName }}
                        <span *ngIf="!last">, </span>
                    </ng-container>
                </p>
        
                <p>
                    <strong>Platform:</strong>
                    <ng-container *ngFor="let platformObj of selectedGame.gamePlatforms; let last = last">
                        {{ platformObj.platform.name }}
                    <span *ngIf="!last">, </span>
                    </ng-container>
                </p>
            </div>
        </div>
        

        <!-- Game Details & Description -->
        <div class="row game-details-description mb-5">
            <!-- Left Column: Developer, Price, Release Date, and System Requirements -->
            <div class="col-md-6">
                <p><strong>Developer:</strong> {{ selectedGame.developer }}</p>
                <h3 class="text-danger">{{ selectedGame.price | currency }}</h3>
                
                <!-- Quantity and Total Price -->
                <div class="mb-3">
                    <label for="game-quantity" class="form-label">Quantity:</label>
                    <input id="game-quantity" [(ngModel)]="selectedQuantity" type="number" min="1" class="form-control quantity-input"/>
                    <p><strong>Total Price:</strong> {{ selectedGame.price * selectedQuantity | currency }}</p>
                </div>

                <!-- Add to Cart and Buy Now -->
                <div class="action-buttons">
                    <button (click)="addToCart(selectedGame.id, selectedQuantity)" class="btn btn-primary me-md-2"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    <button (click)="directPurchase(selectedGame.id, selectedQuantity)" class="btn btn-success"><i class="fa fa-credit-card"></i> Buy Now</button>
                </div>

                <!-- Release Date and System Requirements -->
                <div class="mt-3">
                    <p><strong>Release Date:</strong> {{ selectedGame.releaseDate | date }}</p>
                    <p><strong>Minimum:</strong> {{ selectedGame.minimumSystemRequirements }}</p>
                    <p><strong>Recommended:</strong> {{ selectedGame.recommendedSystemRequirements }}</p>
                </div>
            </div>
            
            <!-- Right Column: Description and Details Tabs -->
            <div class="col-md-6 mt-4 mt-md-0">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="description-tab" data-bs-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="details-tab" data-bs-toggle="pill" href="#details" role="tab" aria-controls="details" aria-selected="false">Details</a>
                    </li>
                </ul>

                <!-- Tab Contents -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <p>{{ selectedGame.description }}</p>
                    </div>
                    <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <p><strong>Trailer:</strong> <a [href]="selectedGame.trailerUrl" target="_blank">Watch here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- DLCs & Additional Content -->
    <section class="row mb-5">
        <div class="col-12 mb-4">
            <h2 class="display-5">DLCs & Additional Content</h2>
        </div>
        <div class="col-12" *ngIf="selectedGame.dlcs && selectedGame.dlcs.length > 0; else noDlc">
            <div class="list-group">
                <a *ngFor="let dlc of selectedGame.dlcs" [routerLink]="['/dlc', dlc.id]" class="list-group-item list-group-item-action dlc-item">
                    <img *ngIf="dlc.dlcImages" [src]="dlc.dlcImages" alt="{{ dlc.dlcName }} thumbnail" class="dlc-thumbnail">
                    <div class="dlc-details">
                        <h5>{{ dlc.dlcName }}</h5>
                        <p>{{ dlc.description | slice:0:50 }}...</p>
                    </div>
                    <span class="badge bg-primary">{{ dlc.price | currency }}</span>
                </a>
            </div>
        </div>
        <ng-template #noDlc>
            <div class="col-12">
                <p>No additional content or DLCs available for this game at the moment.</p>
            </div>
        </ng-template>
    </section>

    <!-- Reviews -->
    <section class="row">
        <div class="col-12">
            <h2 class="display-5">Reviews</h2>
            <app-game-review [gameId]="selectedGame.id"></app-game-review>
        </div>
    </section>
</div>