/* Navigation Bar */
app-navigation-bar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main Content */
.main-container {
  min-height: calc(100vh - 150px); /* Adjust this value according to your header and footer heights */
  padding: 0 15px;
}

/* Footer */
footer {
  background: linear-gradient(45deg, #2D324A, #1F2436);
  position: relative;
}

footer .footer-brand img {
  max-width: 150px; /* Adjust as needed */
}

footer .footer-links a {
  transition: color 0.3s ease;
}

footer .footer-links a:hover {
  color: #FFD700; /* Gold color for hover */
}

footer .footer-social .social-icon {
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

footer .footer-social .social-icon:hover {
  color: #FFD700; /* Gold color for hover */
}
