/* Overall Navbar Styling */
.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background: linear-gradient(45deg, #2C3E50, #4CA1AF); /* Gradient Background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Simple Shadow */
  }
  
  .navbar-brand {
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem; /* For spacing between items */
  }
  
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem; /* More padding for a spacious feel */
    border-radius: 20px; /* Rounded corners */
    transition: background 0.3s; /* Transition for hover effects */
  }
  
  .nav-link:hover {
    background: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
  }
  
  .nav-link i {
    margin-right: 0.5rem;
  }
  

  @media (max-width: 768px) {
    .custom-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        margin-top: 1rem;
    }
}
