<!-- src/app/home/home.component.html -->

<div class="container-fluid p-0">

    <!-- Hero Section with Parallax Effect and Overlay Gradient -->
    <section class="hero-section position-relative">
        <img src="https://res.cloudinary.com/danedskby/image/upload/v1687547909/VideoGameShop/Cyberpunk%202077/cyberpunk_2077_unreal_engine_5_wjauye.png" alt="Cyberpunk" class="img-fluid w-100">
        <div class="overlay"></div>
        <div class="content text-center position-absolute top-50 start-50 translate-middle">
            <h1 data-aos="fade-down">Welcome to GameShop</h1>
            <p data-aos="fade-up" data-aos-delay="200">Embark on pixelated adventures...</p>
            <a [routerLink]="['/games']" class="btn btn-outline-light btn-lg" data-aos="zoom-in" data-aos-delay="400">Dive In <i class="fas fa-gamepad"></i></a>
        </div>
        <div class="scroll-down-icon position-absolute bottom-2 start-50 translate-middle-x">
            <i class="fas fa-chevron-down"></i>
        </div>
    </section>

    <!-- Featured Games Grid with a Modern Touch -->
    <section id="featured-games" data-aos="fade-up">
        <div class="container">
            <h2 class="section-title mb-5">Spotlight Games</h2>
            <div class="row gx-4 gy-4">
                <div class="col-md-3 game-hover" *ngFor="let game of games" data-aos="fade-up" data-aos-delay="100">
                    <div class="card game-card position-relative">
                        <img [src]="game.image" alt="{{ game.name }}" class="card-img-top img-fluid rounded">
                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>
                            <p class="card-text">{{ game.shortDescription }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-tags"></i> {{ game.genre }}</li>
                            <li class="list-group-item"><i class="fas fa-star"></i> {{ game.rating }}</li>
                        </ul>
                        <div class="card-footer">
                            <a href="#" class="btn btn-danger">Get Now <i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Carousel and more sections can be similarly enhanced -->

</div>
