body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
}

a {
  transition: color 0.3s ease;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1400px;
  margin: auto;
}

/* Hero Section */
.hero-section {
  background: url('https://res.cloudinary.com/danedskby/image/upload/v1687547902/VideoGameShop/Cyberpunk%202077/cyberpunk-2077-game-of-the-year-edition-scaled-e1670012903149_jpzcd6.webp') no-repeat center/cover;
  color: #19b6ea;
  padding: 250px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.hero-section .content {
  text-align: center;
}

/* Featured Games Section */
.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

.game-card {
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

/* News Section */
.news-section {
  background: #f9f9f9;
  padding: 60px 0;
}

.news-item {
  padding: 20px;
  background: #fff;
  transition: box-shadow 0.3s ease;
}

.news-item:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.news-image {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.read-more {
  color: #007bff;
}

/* Responsiveness */
@media (max-width: 768px) {
  .hero-section .content h1 {
      font-size: 2.5rem;
  }
  .news-item {
      margin-bottom: 20px;
  }
}
