h1.display-4 {
    font-weight: 700;
    color: #343a40;
}

.container {
    height: 100vh;
}

.filters-section h6 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-card {
    transition: transform .2s, box-shadow .2s;
    border: none;
    overflow: hidden;
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.1);
}

.game-card img {
    transition: transform 0.3s;
}

.game-card:hover img {
    transform: scale(1.1);
}

.game-search, .game-search-btn, .game-btn {
    transition: box-shadow .2s, transform .2s;
}

.game-search:focus, .game-search-btn:focus, .game-btn:focus {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.game-search-btn:hover, .game-btn:hover {
    transform: translateY(-2px);
}

input[type="checkbox"] {
    margin-right: 5px;
}

.search-icon {
    transition: transform 0.3s;
}

.game-search:focus + .input-group-append .search-icon {
    transform: rotate(90deg);
}

.price-slider {
    width: 100%;
}
