<!-- Check if User is Authenticated to Show Review Form -->
<div *ngIf="isUserAuthenticated" class="review-section">
  <h2>Add a Review:</h2>
  <form (ngSubmit)="addReview()" class="review-form">
    <div class="rating-section">
      <label>Rating:</label>
      <app-star-rating [(rating)]="newReview.rating"></app-star-rating>
    </div>
    <div class="comment-section">
      <label>Comment:</label>
      <textarea [(ngModel)]="newReview.comment" name="comment" placeholder="Comment"></textarea>
      <div class="feedback">Please provide a comment.</div>
    </div>
    <button class="submit-button">Add Review</button>
  </form>
</div>

<!-- Reviews Section -->
<div class="reviews-list">
  <h2>Reviews:</h2>
  <ul>
    <li *ngFor="let review of reviews">
      <div class="review-card">
        <img class="avatar" src="path-to-user-avatar.jpg" alt="User Avatar">
        <div class="review-content">
          <app-star-rating [rating]="review.rating"></app-star-rating>
          <p>{{ review.comment }}</p>
          <button class="delete-button" (click)="deleteReview(review.id)">Delete</button>
        </div>
      </div>
    </li>
  </ul>
</div>
