<!-- Add Review Section -->
<section class="add-review-section">
    <!-- Use the Angular safe navigation operator to handle scenarios where gameId might be null or undefined -->
    <app-add-review [gameId]="gameId ?? undefined" (reviewAdded)="handleNewReview($event)"></app-add-review>
</section>

<!-- Reviews List Section -->
<section class="reviews-list-section">
    <h4>All Reviews:</h4>
    <ul class="list-unstyled">
        <li *ngFor="let review of reviews" class="mb-3">
            <article class="review-card d-flex">
                <!-- Uncomment the image once you have user avatars set up -->
                <!-- <img class="avatar rounded-circle mr-3" [src]="review.userAvatar" alt="User Avatar" width="50" height="50"> -->

                <div class="review-content">
                    <div class="rating-section mb-2">
                        <app-star-rating [rating]="review.rating"></app-star-rating>
                    </div>
                    <p class="comment-section mb-1">{{ review.comment }}</p>
                    <!-- Display the delete button only if the logged-in user is the owner of the review -->
                    <button *ngIf="isReviewOwner(review.userId)" class="delete-button btn btn-sm btn-danger" (click)="deleteReview(review.id)">
                        Delete
                    </button>
                </div>
            </article>
        </li>
    </ul>
</section>
