    <div class="cart-section">
        <!-- Cart Icon -->
        <div class="cart-icon">
            <i class="fa fa-shopping-cart"></i>
    <span class="cart-count">{{ cartItems.length }}</span>
        </div>

        <!-- Cart Container -->
        <div class="cart-container">
            <h2>Your Cart</h2>

            <!-- Check if there are items in the cart -->
            <ng-container *ngIf="cartService.cartItems$ | async as cartItems; else emptyCart">
                <!-- Iterate through the cart items and display each one -->
                <div class="cart-items">
                    <div class="cart-card" *ngFor="let item of cartItems">
                        <!-- Game Image -->
                        <img [src]="item.Game?.coverImage || 'default-image-path.jpg'" alt="Game Image" class="cart-image">
                        <!-- Game Title -->
                        <h4>{{ item.Game?.title || 'Game Title' }}</h4>
                        <!-- Game Description -->
                        <p>{{ item.Game?.description || 'Game Description' }}</p>
                        <!-- Game Price -->
                        <p><strong>Price:</strong> ${{ item.Game?.price }}</p>
                        <!-- Quantity -->
                        <div class="quantity-control">
                            <button (click)="decrementQuantity(item.GameId)">-</button>
                            <span>{{ item.Quantity }}</span>
                            <button (click)="incrementQuantity(item.GameId)">+</button>
                        </div>
                        <!-- Remove Button -->
                        <button (click)="removeFromCart(item.GameId)" class="remove-button">Remove</button>
                    </div>
                </div>
                
                <!-- Total Amount -->
                <div class="cart-total">
                    <h3>Total Amount: ${{ cartService.getTotalAmount() | number:'1.2-2' }}</h3>
                </div>

                <!-- Checkout Section -->
                <div class="checkout-container">
                    <button class="checkout-btn" [routerLink]="['/checkout', orderId]">Proceed to Checkout</button>

                </div>
            </ng-container>

            <!-- Empty cart message -->
            <ng-template #emptyCart>
                <div class="empty-cart-message">
                    <img src="empty-cart-icon.jpg" alt="Empty Cart Icon">
                    <p>Your cart is empty. <a routerLink="/games">Start shopping</a> to fill it!</p>
                </div>
            </ng-template>
        </div>
    </div>
